@charset "UTF-8";



#app > ul > li{ /*configura os itens da lista*/
    color: black;
    font-size: 20pt;
}

#app > ul > li > a{
    display: block;
    text-decoration: none;
    font-size: 12pt;
}

#app > ul > li > a:hover{
    text-decoration: underline;
}